<router-outlet></router-outlet>
<app-nav></app-nav>
<nav class="navbar navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-center">
        <li class="nav-item active">
          <button><a class="nav-link" [routerLink]="['/app']">Angular</a></button>
        </li>
        <li class="nav-item active">
        <button><a class="nav-link" [routerLink]="['/chrono']">Chrono</a></button>
        </li>
        <li class="nav-item">
        <button><a class="nav-link" [routerLink]="['/partials/header']">Header</a></button>
        </li>
        <li class="nav-item">
        <button><a class="nav-link" [routerLink]="['/pipes']">Pipes</a></button>
        </li>
        <li class="nav-item">
        <button><a class="nav-link" [routerLink]="['/comp1']">Routing</a></button>
        </li>
        <li class="nav-item">
        <button><a class="nav-link" [routerLink]="['/register']">Formulaire</a></button>
        </li>
        <li class="nav-item">
        <button><a class="nav-link" [routerLink]="['/exercices/shoppingCart']">shoppingCart V1</a></button>
        </li>
        <li class="nav-item">
        <button><a class="nav-link" [routerLink]="['/exercices/shoppingCartV2']">shoppingCart V2</a></button>
        </li>
        <li class="nav-item">
        <button><a class="nav-link" [routerLink]="['/connexion']">Connexion</a></button>
        </li>
        <li class="nav-item">
          <button><a class="nav-link" [routerLink]="['/data/images']">Images</a></button>
        </li>
        <li class="nav-item">
          <button><a class="nav-link" [routerLink]="['/data/blog']">Articles</a></button>
        </li>
        <li class="nav-item">
          <button><a class="nav-link" [routerLink]="['/data/users']">Utilisateurs</a></button>
        </li>
        <li class="nav-item">
          <button><a class="nav-link" [routerLink]="['/todo/todo-display']">Todos</a></button>
        </li>
  </ul>
  </div>
  </nav>    
