nav
 { 
	font-family:'Oswald', arial, sans-serif; 
	/* on fixe le menu en haut */
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 1em 0;
	margin: 0;
	/* on centre les liens */
	text-align: center;
	background: green;
height:80px;
color:white;
}
a:link{
	color:white;font-family:'Oswald', arial, sans-serif;}
a:visited{
	color:white;font-family:'Oswald', arial, sans-serif;}

  